body {
	margin: 0px;
	padding: 0px;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container,
#display {
	border-color: black;
	border-width: 1px;
	border-style: solid;

	margin: 10px;
	padding: 10px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container {
	background-color: rgb(220,220,220);
}

#display {
	flex-grow: 2;
	background-color: white;
}

#clear {
	flex-grow: 1;
}

.row {
	height: 20%;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

button {
	width: 50px;
	height: 50px;
	margin: 3px;
	padding: 0px;
}