body {
	margin: 0px;
	padding: 0px;
	height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container,
#display,
#result {
	border-color: black;
	border-width: 1px;
	border-style: solid;

	margin: 10px;
	padding: 10px;
}

.container {
	background-color: rgb(220,220,220);
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#display {
	flex-grow: 2;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: no-wrap;
}

#result {
	flex-grow: 1;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: center;
}

#clearButton {
	flex-grow: 1;

	min-width: 50px;
	min-height: 50px;
	max-width: 100px;
	max-height: 100px;
}

.row {
	height: 20%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

button {
	width: 50px;
	height: 50px;
	margin: 3px;
	padding: 0px;

	cursor: pointer;
}

#numberA,
#numberB {
	border-color: rgb(240, 240, 240);
	border-width: 1px;
	border-style: solid;
	padding: 5px 20px 5px 20px;
	margin: 2px;
}

#numberA:hover,
#numberB:hover {
	cursor: pointer;
}